/* font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: dm sans;
}

.navbar-brand img {
    width: 120px;
}

.navbar .nav-link {
    color: white;
    margin-right: 20px;
}

.navbar .nav-link:hover {
    border-bottom: 1px solid maroon;
}

.navbar .nav-link:focus {
    border-bottom: 1px solid maroon;
    font-weight: 550;
}

.navbar-brand {
    font-size: 24px;
    color: whitesmoke;
}


#hero {
    color: whitesmoke;
    background-image: url(./assets/bg-hero.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

#hero h1 {
    font-size: 60px;
    font-weight: 200;
}

#hero .btn {
    border-radius: none;
}

#about {
    color: whitesmoke;
    text-align: center;
}

#about h1 {
    font-weight: 200;

}

#produk {
    margin-top: 100px;
    color: whitesmoke;
}

#produk h1 {
    font-size: 60px;
    font-weight: 200;
    color: whitesmoke;
}

#produk .deskripsi .btn {
    width: auto;
    font-size: small;
}

#cta {
    margin-top: 100px;
    color: whitesmoke;
}

#cta h1 {
    font-size: 60px;
    font-weight: 200;
}

#cta img {
    width: 80%;
    rotate: 90deg;
}

#layanan {
    margin-top: 100px;
    color: whitesmoke;
}

#layanan h1 {
    font-size: 60px;
    font-weight: 200;
    color: whitesmoke;
}

#layanan .item img {
    width: 100%;
    filter: grayscale();
}

#layanan .item {
    position: relative;
    overflow: hidden;
}

#layanan .item figcaption {
    position: absolute;
    bottom: -3rem;
    background-color: rgba(0, 0, 0, 0.76);
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    transition: all 200ms;
}

#layanan .item:hover figcaption {
    bottom: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 50px;
    color: whitesmoke;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
}

footer img {
    display: flex;
    justify-content: center;
    align-items: center;
}
